{{ "{% extends '@Foundation/html.html.twig' %}" }}

{{ '{%  block page %}' }}
    <main class="row">
        {{ "{% block content %}" }}
        {{ "{% endblock %}" }}
    </main>
{{ '{% endblock %}' }}
